<a href="https://colab.research.google.com/github/KYashaswini06/2025-26-4127-K.YASHASWINI-AI-B-DS/blob/main/Week_4_24-02-26/Descriptive_statistics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Descriptive Statistics
import pandas as pd
data={
    "Ages":[22,25,47,35,46,50,28,33,39,41],
    "Salaries":[3000,3200,5500,4000,5200,6000,3500,3700,4500,4800]
}
df=pd.DataFrame(data)
print("Original DataFrame:")
print(df)
print("\nSummary Statistics:\n")
print(df.describe())
print("\nMean:\n",df.mean())
print("\nMedian:",df.median())
print("\nMode:\n",df.mode())
print("\nMinimum value:\n",df.min())
print("\nMaximum value:\n",df.max())
print("\nStandard Deviation:\n",df.std())
print("\nCount:\n",df.count())
print("\nVariance:\n",df.var())
print("\nSkewness:\n",df.skew())
print("\nKurtosis:\n",df.kurt())

Original DataFrame:
   Ages  Salaries
0    22      3000
1    25      3200
2    47      5500
3    35      4000
4    46      5200
5    50      6000
6    28      3500
7    33      3700
8    39      4500
9    41      4800

Summary Statistics:

            Ages     Salaries
count  10.000000    10.000000
mean   36.600000  4340.000000
std     9.651713  1022.198067
min    22.000000  3000.000000
25%    29.250000  3550.000000
50%    37.000000  4250.000000
75%    44.750000  5100.000000
max    50.000000  6000.000000

Mean:
 Ages          36.6
Salaries    4340.0
dtype: float64

Median: Ages          37.0
Salaries    4250.0
dtype: float64

Mode:
    Ages  Salaries
0    22      3000
1    25      3200
2    28      3500
3    33      3700
4    35      4000
5    39      4500
6    41      4800
7    46      5200
8    47      5500
9    50      6000

Minimum value:
 Ages          22
Salaries    3000
dtype: int64

Maximum value:
 Ages          50
Salaries    6000
dtype: int64

Standard Deviation:
 Ages           9.651713
Salaries    1022.198067
dtype: float64

Count:
 Ages        10
Salaries    10
dtype: int64

Variance:
 Ages        9.315556e+01
Salaries    1.044889e+06
dtype: float64

Skewness:
 Ages       -0.138915
Salaries    0.271889
dtype: float64

Kurtosis:
 Ages       -1.287437
Salaries   -1.223068
dtype: float64