<a href="https://colab.research.google.com/github/KYashaswini06/2025-26-4127-K.YASHASWINI-AI-B-DS/blob/main/ds_datastructures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
a=[1,2,3,4,5]
a.append(6)
a.extend([7,8])
print("New list:",a)

New list: [1, 2, 3, 4, 5, 6, 7, 8]

In [4]:
t = (5, 2, 9, 1)

print("Length:", len(t))
print("Minimum:", min(t))
print("Maximum:", max(t))
print("Sum:", sum(t))

Length: 4
Minimum: 1
Maximum: 9
Sum: 17

In [7]:
a = {1, 2, 3}
b = {3, 4, 5}

print("Union:", a | b)
print("Intersection:", a & b)
print("Difference:", a - b)

Union: {1, 2, 3, 4, 5}
Intersection: {3}
Difference: {1, 2}

In [6]:
student = {
    "name": "Alex",
    "age": 20,
    "course": "Python"
}

print("Name:", student["name"])
print("Age:", student["age"])

Name: Alex
Age: 20